
body{
  background-color: #666;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 98vh;
  font-family: 'Open Sans', sans-serif;
  border: 2px solid white;
  border-radius: 10px;
}

a {
  outline: none;
  text-decoration: none;
  padding: 10px 1px 10px;
  color: black;
}
a:hover{
  color:white
}

.main {
  flex-grow: 1;
  margin: 0 auto;
  padding-top: 10px;
}
.fields{
  display: flex;
  justify-content: center;
  align-items: center;
}

.table{
  text-align: initial;
}
.table tr{
  height: 25px;
  vertical-align: top;
}
.contacts{
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin: auto;
}
.telegram{
  height: 40px;
  padding: 0 30px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 250px;
}
.telegram:hover { background: orange; }
.typewriter {
  font-family: Courier, monospace;
display: inline-block;
}

.typewriter-text {
  padding-left: 10px;
  overflow: hidden;
  letter-spacing: 2px;
 animation: typing 2s steps(30, end), blink .75s step-end infinite;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 700;
  border-right: 2px solid orange;
}

@keyframes typing {
  from { 
      width: 0% 
  }
  to { 
      width: 100% 
  }
}

@keyframes blink {
  from, to { 
      border-color: transparent 
  }
  50% { 
      border-color: orange; 
  }
}
