<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/main.css" />
    <title>go</title>
  </head>
  <body>
    <h3>Welcome!</h3>
    <div class="main">
      <table class="table">
        <tr>
          <td>Your city :</td>
          <td>
            <div class="typewriter">
              <div class="typewriter-text">{{.city}}</div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Temperature now :</td>
          <td>
            <div class="typewriter">
              <div class="typewriter-text">{{.temp}} C&deg;</div>
            </div>
          </td>
        </tr>
        <tr>
          {{if (gt .clouds 50)}}
          <td  colspan="3" style="text-align: center">
            <div class="typewriter">
              <div class="typewriter-text">It's cloudy now, my friend</div>
            </div>
          </td>
          {{else}}
          <td  colspan="3" style="text-align: center">
            <div class="typewriter">
              <div class="typewriter-text">Sun is shining!!</div>
            </div>
          </td>
          {{end}}
        </tr>
        <tr>
          <td>Your currency rate : </td>
          {{if (eq .currency "EUR")}}
          <td>
            <div class="typewriter">
              <div class="typewriter-text">{{.currencyRate}} EUR / USD</div>
            </div>
          </td>
          {{else}}
          <td>
            <div class="typewriter">
              <div class="typewriter-text">{{.currencyRate}} {{.currency}} / EUR</div>
            </div>
          </td>
          {{end}}
        </tr>
      </table>

    </div>

    <div class="contacts">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/2/23/Golang.png"
        alt="gopher"
        class="gopher"
      />
      <button
        name="button" class="telegram">
        <a href="https://t.me/andrey_vs_you">
          Feel free to contact me NOW!
        </a>
</button>
    </div>

    <footer>
      <p>© 2022 some rights reserved</p>
    </footer>
  </body>
</html>
